/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    font-family: "Inter";
    font-weight: 400;
    color: #52575c;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}
