/* app.component.scss */
.toolbar-top{
  height: 150px;
  background-color: azure;
  justify-content: flex-start;
  display: flex;
}
.menu{
  background-color: azure;
}

.font-menu
{
  font-size: 1rem;
  font-weight: 400;
  color: #FFBF00;
}

.prominent-toolbar {
  height: 450px; /* altura maior para destaque */
  background-image: url('../../../../../public/img/top.png');
  background-size: cover;
  background-position: center;
  color: white; /* cor do texto, pode ajustar */
  display: flex;
  align-items: top;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}
.example-spacer {
  flex: 1 1 auto;
}

/* app.component.scss */
.toolbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; /* Aligns content to the top (default for row direction) */
  width: 100%;
}
.logo {
  height: 140px; /* Ajuste a altura conforme necessário */
}
